{% extends 'base.html' %}
{% block content %}

<h1>Skill List</h1>

{% for skill in object_list %}
    <a href="{% url 'skills_detail' skill.id %}">
    <div class="card">
        <div class="card-content">
            <span class="card-title">{{ skill.description }}</span>
            <p>level: {{ skill.skill_level }}</p>
        </div>
        <div class="card-action">
            <a href="{% url 'skills_update' skill.id %}">Edit</a>
            <a href="{% url 'skills_delete' skill.id %}">Delete</a>
        </div>
    </div>
  </a>
{% endfor %}

{% endblock %}